In [1]:
import pandas as pd
import sys
sys.path.append("c:\\users\\lt\\anaconda3\\envs\\pythondata\\lib\\site-packages")
sys.path
import gmaps
import requests
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df["Max Temp"] = (city_data_df["Max Temp"] - 273.15)*9/5 + 32
city_data_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Kalmunai,LK,2022-05-24 20:17:31,7.4167,81.8167,79.178,82,100,3.16
1,1,1,Albany,US,2022-05-24 20:14:50,42.6001,-73.9662,74.030,45,55,2.25
2,2,2,Mataura,NZ,2022-05-24 20:17:31,-46.1927,168.8643,49.478,74,74,5.00
3,3,3,Elko,US,2022-05-24 20:17:32,41.0002,-115.5012,69.818,11,0,5.36
4,4,4,Carnarvon,AU,2022-05-24 20:17:32,-24.8667,113.6333,67.514,66,24,3.99

In [3]:
city_data_df.dtypes

City_ID         int64
City_ID.1       int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# amended: fig = 
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# amended: heat_layer = 
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 88
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
26,26,26,Sur,OM,2022-05-24 20:17:38,22.5667,59.5289,88.268,54,0,6.56
38,38,38,Diamantino,BR,2022-05-24 20:17:41,-14.4086,-56.4461,88.520,27,0,2.31
73,73,73,Nepa Nagar,IN,2022-05-24 20:18:17,21.4667,76.4000,88.106,48,0,4.30
77,77,77,Bilma,NE,2022-05-24 20:18:18,18.6853,12.9164,89.258,10,1,0.65
92,92,92,Sabha,LY,2022-05-24 20:18:43,27.0377,14.4283,88.340,13,53,4.39
156,156,156,Buxar,IN,2022-05-24 20:19:20,25.5833,83.9833,88.466,39,98,3.05
195,195,195,Villa Bruzual,VE,2022-05-24 20:19:51,9.3328,-69.1208,88.322,49,100,2.14
242,242,242,Guane,CU,2022-05-24 20:20:23,22.2025,-84.0875,89.456,48,82,5.01
280,280,280,Nobres,BR,2022-05-24 20:20:54,-14.7203,-56.3275,89.528,28,0,1.44
323,323,323,Robinson,US,2022-05-24 20:21:26,31.4677,-97.1147,88.016,56,75,6.17

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City_ID.1     0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.notnull().sum()

City_ID       13
City_ID.1     13
City          13
Country       13
Date          13
Lat           13
Lng           13
Max Temp      13
Humidity      13
Cloudiness    13
Wind Speed    13
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat      Lng Hotel Name
26             Sur      OM    88.268  22.5667  59.5289
38      Diamantino      BR    88.520 -14.4086 -56.4461
73      Nepa Nagar      IN    88.106  21.4667  76.4000
77           Bilma      NE    89.258  18.6853  12.9164
92           Sabha      LY    88.340  27.0377  14.4283
156          Buxar      IN    88.466  25.5833  83.9833
195  Villa Bruzual      VE    88.322   9.3328 -69.1208
242          Guane      CU    89.456  22.2025 -84.0875
280         Nobres      BR    89.528 -14.7203 -56.3275
323       Robinson      US    88.016  31.4677 -97.1147

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
26,Sur,OM,88.268,22.5667,59.5289,Sur Plaza Hotel
38,Diamantino,BR,88.520,-14.4086,-56.4461,Hotel Delta
73,Nepa Nagar,IN,88.106,21.4667,76.4000,Rest House Hilltop
77,Bilma,NE,89.258,18.6853,12.9164,Expeditions Ténére voyages
92,Sabha,LY,88.340,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
156,Buxar,IN,88.466,25.5833,83.9833,Honda Service Center
195,Villa Bruzual,VE,88.322,9.3328,-69.1208,hotel italia
242,Guane,CU,89.456,22.2025,-84.0875,base de Campismo LosPortales de Guane
280,Nobres,BR,89.528,-14.7203,-56.3275,Hotel Portal Nobres
323,Robinson,US,88.016,31.4677,-97.1147,Flat Creek Farms RV Resort

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))